:root {
    --ms-secondary-color: #3A546D;
    --ms-dark-secondary-color: #2C3E50;
    --ms-primary-color: #1ABC9C;
}

.ms-primary-color{
    color: #1ABC9C;
}

.ms-dark-secondary-color{
    color: #2C3E50;
}

.ms-secondary-color{
    color: #3A546D;
}

.ms-primary-bgcolor{
    background-color: #1ABC9C;
}

.ms-dark-secondary-bgcolor{
    background-color: #2C3E50;
}

.ms-secondary-bgcolor{
    background-color: #3A546D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* RULES */
header{
    height: 80px;
}

main{
    padding-top: 80px;
}

header nav{
    background-color: var(--ms-dark-secondary-color);
}

.ms-jumbotron{
    background-color: var(--ms-primary-color);
}

.ms-field span{
    display: block;
}

.ms-field span:nth-child(2n){
    height: 15px;
    border-bottom: grey solid 1px;
}
#contact_me .container .ms-field:last-child span:nth-child(2n){
    height: 100px;
}

.ms-footer-top{
    background-color: var(--ms-secondary-color);
}
.ms-footer-bottom{
    background-color: var(--ms-dark-secondary-color);
}

footer .ms-footer-top .row>div span{
    display: block;
}

button.navbar-toggler {
    border: white 1px solid;
    filter: brightness(10);
}

.ms-line{
    border-radius: 10px;
    width: 74px;
    height: 5px;
    display: inline-block;
    margin: 6px 0;
}

.text-white.pb-2{
    height: 35px;
}

.ms-social i {
    font-size: 25px;
    border-radius: 50%;
    border: white solid 1px;
    padding: 5px;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    aspect-ratio: 1/1;
    margin: 0 3px;
}

::-webkit-scrollbar{
    display: none;
}

.ms-field span input {
    padding-bottom: 20px;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgb(84, 84, 84);
}

::placeholder {
    color: black;
    font-weight: 500;
}

.ms-field-textarea{
    padding-bottom: 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(84, 84, 84);
} 

#about{
    background-color: #1ABC9C;
}